<div class="navbar-top ">
      <div class="nav">
        <a class="" href="#"><span><h1>Nani A/S</h1></span></a>
        <h2><small>Admin</small></h2>
        <ul class="nav nav-tabs">
            <li>
            {{#link-to 'customers'}}Kunder
            {{/link-to}}
            <li>
            <li>
            {{#link-to 'terms'}}Købsrettigheder
            {{/link-to}}
            <li>
            
            <li>
            {{#link-to 'suprise'}}Jojo!
            {{/link-to}}
            <li>
            
          
          </ul>

        
        

      <div>
      {{outlet}}
      </div>

 
</div>
</div>




