<div class="navbar-top ">
      <div class="nav navbar-nav pull-left">
        <a class="" href="#"><span><h1><small>Nani A/S<small></h1></span></a>
        <ul class="well">
         {{#link-to 'opretkunde'}}<span class="glyphicon glyphicon-plus"></span>Opret dig{{/link-to}}
        </ul>
        <ul class="well">
         {{#link-to 'opretordrer'}}<span class="glyphicon glyphicon-plus"></span>Opret ordrer{{/link-to}}
        </ul>
      </div>
    </div>

    {{outlet}}