<div class="navbar ">
      <div class="navbar-inner">
        <a class="brand" href="#">Historiesiden</a>
        <ul class="nav">
          <li>{{#link-to 'historier'}}Historier{{/link-to}}</li>
          <li>{{#link-to 'omos'}}Om os{{/link-to}}</li>
        </ul>
      </div>
    </div>

    {{outlet}}