<br><br><br>


  

     <div class="cl-xs-6">
  
    <ul>
    
    <small>Fornavn</small><h4>{{name}}</h4><small>Efternavn</small><h4> {{lastname}}</h4>

    
  </ul>
    </div>
  
<div class="cl-xs-6">
  {{#link-to 'orders'}}
  <h3>Se ordrer</h3>
  {{/link-to}}


<div class="well">
  {{outlet}}
</div>
  
 


  